@import "tailwindcss";

@theme {
  --color-gray-001: #616870;
  --color-accent: #007aff;
  --color-accent-dark: #0056b3;
}

.prevent-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
